[Unit]
Description=Firewall helper for Salt Master
# Wait for iptables to load its base rules first
After=iptables.service
Wants=iptables.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/sbin/fw-add-salt-master
User=root

[Install]
# We don't need the Install section if the Master is pulling it in, 
# but keeping it for manual enablement is fine.
WantedBy=salt-master.service 
