# source: salt://pillars/zeek/zeek.service
[Unit]
Description=zeek network analysis engine
After=network.target
[Service]
# Note deploy = check and install. Experience says it includes a start
Environment=TZ=UTC
#UMask=g+r,o+r
# Runs
Environment=BROPATH=.:/opt/zeek/spool/installed-scripts-do-not-touch/auto:/opt/zeek/share/zeek:/opt/zeek/share/zeek/site:/opt/zeek/share/zeek/policy:/opt/zeek/share/zeek/site/packages:/opt/zeek/share/zeek/site
Environment=BRO_PLUGIN_PATH=/opt/zeek/lib/zeek/plugins:/opt/zeek/lib/zeek/plugins
Environment=ZEEKPATH=.:/opt/zeek/spool/installed-scripts-do-not-touch/auto:/opt/zeek/share/zeek:/opt/zeek/share/zeek/site:/opt/zeek/share/zeek/policy:/opt/zeek/share/zeek/site/packages:/opt/zeek/share/zeek/site
Environment=ZEEK_PLUGIN_PATH=/opt/zeek/lib/zeek/plugins:/opt/zeek/lib/zeek/plugins

ExecStart=/usr/local/sbin/zeekStart {{ grains['sniff']}}
ExecStop=su zeek -c "/opt/zeek/bin/zeekctl stop"
RestartSec=10s
Type=oneshot
RemainAfterExit=yes
TimeoutStopSec=600

[Install]
WantedBy=multi-user.target


