# source: salt:/sls/ntp/chrony.conf.edge
server ntp.nyy.ca iburst
server ntp.zaf.ca iburst
driftfile /var/lib/chrony/drift
makestep 1.0 3
rtcsync
keyfile /etc/chrony.keys
leapsectz right/UTC
logdir /var/log/chrony

