# source: salt://managedFiles/elk/filebeat.yml
# /etc/filebeat/filebeat.reference.yml
# https://www.elastic.co/guide/en/beats/filebeat/index.html

logging.level: debug
logging.to_syslog: false
logging.to_files: true
logging.metrics:
  enabled: true
logging.files:
  path: /var/log/filebeat
  name: filebeat
  keepfiles: 10
  permissions: 0644
  rotateonstartup: true
  rotateeverybytes: 1073741824 # 1g

# more ILM settings: https://www.elastic.co/guide/en/beats/filebeat/master/ilm.html
setup.ilm.overwrite: true

    #- /var/log/messages
    #- /var/log/secure
filebeat.inputs:
- type: log
  enabled: true
  paths:
    - /var/log/yum.log
    - /var/log/dnf.log
    - /var/log/boot.log
    - /var/log/salt-call.log
    - /var/spool/mail/root

filebeat.config.modules:
  path: ${path.config}/modules.d/*.yml
  reload.enabled: true
  reload.period: 30s
setup.template.settings:
  index.number_of_shards: 1

setup.kibana:
  host: ["10.0.10.8:5601"]

processors:
  - add_host_metadata:
      when.not.contains.tags: forwarded
  - add_cloud_metadata: ~
  - add_docker_metadata: ~
  - add_kubernetes_metadata: ~

output.logstash:
  hosts: ["10.0.10.8:5044"]
  ssl.enabled: false

